doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Chat App
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/chat.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        script(src="/socket.io/socket.io.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="/scripts/chat.js")
    body 
        #container.full-height.full-width
            #chat-area.full-width
                #messages.full-height
                    #msg-list.full-width
                #user-list.full-height
                    .full-width.full-height
                        h3 Usuarios en linea
                        #users
            form#send-msg-form
                textarea#message.lighter(name="message", placeholder="Escribe aquí tu mensaje")
                button#send-msg-btn
                    i.fa.fa-comment
