doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Chat App
        link(rel="shortcut icon" href="images/favicoin.ico")
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        script(src="/scripts/bootstrap.min.js")
    body
        .container.my-5
            .card.m-auto(style="width: 30rem;")
                img.card-img-top(src="images/mantenimiento.gif")
                .card-body.text-center.alert-danger
                    h5.card-title Estamos trabajando para mejorar
                    p.cad-text El sitio web está en mantenimiento