#container{
    height: 80%;
    padding: 10px;
}

/* Chat area */
#chat-area{
    height: 90%;
}

#escribir{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}


#messages{
    position:relative;
    background: #fff;
    border: 1px solid #999;
    border-radius: 20px 0px 0px 0px;
    display: flex;
    flex: 3;
    padding: 20px;
    overflow-y: scroll;
    max-height: 100%;
}
/*
#user-list{
    background: #fff;
    border: 1px solid #999;
    border-radius: 0px 20px 0px 0px;
    display: flex;
    flex: 1;
    margin-left: 20px;
    padding: 20px;
}
/* Formulario de envío de mensajes */
/*#send-msg-form{
    display: flex;
    padding-top: 20px;
    height: 20%;
}
#message{
    border: 1px solid #999;
    border-radius: 0px 0px 0px 20px;
    display: flex;
    flex: 2;
    padding: 20px;
    font-size: 14px;
    resize: none;
}

#send-msg-btn{
    background: rgb(33, 95, 228);
    border-radius: 0px 0px 20px 0px;
    width: 75px;
}
#send-msg-btn > i{
    font-size: 20px;
    color: #fff;
}
#send-msg-btn:hover{
    cursor: pointer;
    background: rgb(71, 124, 238);
}

/* Usuarios en linea */

@media (min-width: 1200px) {
    .p-5 {
        padding: 40px 200px !important;
    }
}
@media (max-width: 600px) {
    .p-5 {
        padding: 15px !important;
    }

    #container{
        height: 97%;
    }

  }


  .my-msg{
      float: right;
      margin-left: 100%;
  }

  .your-msg{
      float: left;
      margin-right: 100%;
  }

