/* Registro form */

body{
    background-color: #3c873a;
}
#welcome{
    align-items: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
#registro-form{
    background:#FFF;
    border-radius: 10px;
    padding: 30px;
}
#registro-form > h1{
    color: #3c873a;
    font-weight: 500;
}
#registro-form > p{
    color: #3c873a;
}
#username{
    background: transparent;
    border: 1px solid #ccc;
    color: #3c873a;
    border-radius: 20px;
    font-size: 14px;
    margin: 20px 0px;
    padding: 10px;
}
#username::placeholder{
    color: #3c873a;
}
/*#send-form{
    background: #3c873a;
    border-radius: 20px;
    color: #fff;
    display: block;
    padding: 10px 50px;
    margin: auto;
}
/*#send-form:hover{
    background: #FFF
    cursor: pointer;
}*/
#registro-form > div{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
#registro-form label{
    color: #fff;
    margin-right: 20px;
}
#registro-form input[type="radio"]{
    margin-right: 5px;
}
#registro-warning{
    background: rgb(255, 85, 85);
    border: 1px solid red;
    margin-top: 10px;
    padding: 2.5px;
}
#warning-icon{
    color: yellow;
    margin-right: 10px;
}